<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DEFRI FEGA PRATAMA</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="static/img/kampus.png" rel="icon">

  
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="static/css/style.css" rel="stylesheet">
  <style>
    .whiteteks {
       color:white;
     }
     .logo-kampus{
      background-image: url('static/img/kampus.png');
      width: 62px;
      height: 60px;
      background-size: cover;
      position: absolute;
      left: 30px;
      top: 20px;
      background-color: transparent;
      border-radius: 50%;
     }
     #navbar ul li a {
      font-size: 18px; /* change the font size to 18px */
     }
   </style>
</head>

<body>


  <header id="header" class="fixed-top">
    <div class="logo-kampus"></div>

    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="whiteteks"> DEFRI FEGA PRATAMA</h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="prediksi">Pendeteksi</a></li>
        </ul>
      </nav>

    </div>
  </header>


  <div id="hero" class="hero route bg-image" style="background-image: url(static/img/bg-karet.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
        
          <h2 class="hero-title mb-2">Pendeteksi Penyakit Gugur Daun karet (GDK)</h2>

        </div>
      </div>
    </div>
  </div>


  
  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.umd.js"></script>


  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>